<div class="container">
    <div class="row mt-5">
        <h3 class="text-center text-uppercase p-2">Nuestras subscripciones</h3>

        {{#if sub}}

            <div class="row">
                {{#each sub}}
                    <div class="col-sm-6 mb-3">
                        <div class="card">
                            <div class="card-body bg-info-subtle">
                                <h5 class="card-title">{{sub}}</h5>
                                <p class="card-text">{{description}}</p>
                                <p class="card-text"><strong>Precio:</strong> {{price}}</p>
                                <div class="btn-group">
                                    <a href="/editsub/{{id}}" class="btn btn-warning">
                                        <i class="fa-solid fa-pencil"></i> Editar
                                    </a>
                                    <a href="/delete/{{id}}" class="btn btn-danger">
                                        <i class="fa-solid fa-trash"></i> Borrar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>

        {{else}}

            <div class="card text-center mx-auto">
                <div class="card-header">
                    <h3>Debes agregar una subscripción</h3>
                </div>
                <div class="card-body">
                    <p>Presiona este botón para que puedas agregar un tipo de subscripción</p>
                    <a href="/addsub" class="btn btn-primary">Ir a crear</a>
                </div>
            </div>

        {{/if}}

    </div>
</div>
